<div id="#main"></div>
<div>TOP 100 VISITED URLS</div>
<ul>
  <% @shortened_urls.each do |shortened_url| %>
    <li>
      <div>
        long url: <a href="<%= shortened_url.long_url %>"><%= shortened_url.long_url %></a>
      </div>
      <div>
        short url: <a href="<%= shortened_url.short_url %>"><%= shortened_url.short_url %></a>
      </div>
      <div>
        visit count: <%= shortened_url.visit_count %>
      </div>
    </li>
  <% end %>
</ul>
